* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    max-height: 80px;
    max-width: 85vw;
  }
  
  .logo {
    font-size: 22px;
  }
  
  ul {
    list-style: none;
   
  }
  
  ul li {
    display: inline-block;
  }
  
  ul li a {
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all 0.3s ease;
  }

  ul li a.active {
  }
  
  
   /* .wrapper {
      width: 97%;
      max-width: 1200px;
      margin: 0 auto;
      float: none;
    
  }  */
  

  

  
  /* Desktop screen Sizes */
 
    .full_site_container {
      display: flex;
	  align-items: center;
	  /* width: 85vw; */
    }
    .main_site {
      width: 75vw;
      display: flex;
      flex-direction: column;
    }
    
    .site_controls {
      width: 23%;
      height: 400px;
      background-color: red;
      margin-left: 15px;
    }
    header {
      width: 100%;
      height: 30vh;
      margin-top: 1rem;
      text-align: center;
    }
    header h3 {
      margin: 1rem 0;
    }
  
    .header_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header_section {
      width: 300px;
      height: 150px;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .header_section h3 {
    }
  
    .header_section i {
      font-size: 5rem;

    }
  
    .section_wrapper {
      /*   height: 50vh; */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  
    .section_wrapper section {
      width: 49%;
      height: 50vh;
      margin: 1rem 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  
    .section_left {
    }
    .section_right {
    }
  
    footer {
      position: absolute;
      width: 75vw;
      height: 100px;
      bottom: 0;
      overflow: hidden;
      display: block;
    }
  
  