

.site__container{
    max-width: 80vw;
    min-width: 80vw;
    margin-left: 4rem;
        padding: 0 10%


}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 10% */
}
.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    text-transform: capitalize;
    cursor: pointer;
}

.nav__button{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    outline: none;
    
}

.search__container{
    width: 852px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.extra__links{
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-gap: 50px;

}
.extra__link_item{
    width: auto;
}

.extra__link_item p{
    opacity: 0;
}
.search__input{
    min-width: 60%;
    padding: 8px;
    margin: 0 4px 0 0;
    border: 1px solid #666;
    border-radius: 5px;
    height: 30px;
    order: 0;
    align-self: auto;  
    
}
.search__button{
    padding: 8px 16px;
    min-height: 48px;
    min-width: 10px;
    word-wrap: nowrap;
    border: 1px solid #fff;
    border-radius: 5px;
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
}

.main__container{
    display: flex;
    width: 100%;
    height: 500px;
    /* padding: 30px 10% */
}
.left__side{
    width: 50%;


}
.right__side{
width: 50%;
justify-content: space-between;

}
.right__info1{
height: 50%
}
.right__info2{
height: 50%
}

footer{
    width: 100%;
    height: 20px;
    padding: 30px 10%;
}
footer:active, footer:focus{
    border: 3pt dashed red;
}
.selected {
    border: 1px solid blue;
    color: red;
    width: 200px;
  }