.modal__container {
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
}
.close__modal {
	display: flex;
	justify-content: end;
	cursor: pointer;
	font-size: 20px;
}

.html__code,
.css__code {
	width: 99%;
	background-color: black;
	color: white;
	font-size: 16px;
	overflow-y: scroll;
	height: 500px;
	margin-bottom: 20px;
}
.css__title,
.html__title {
	display: flex;
	justify-content: space-between;
	margin: 1rem 2rem 0;
	border-bottom: 1px solid white;
	padding-bottom: 1rem;
}

.copy__code:hover {
	cursor: pointer;
	color: rgb(210, 58, 58);
}
.recommended {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
}
.reset__link {
	cursor: pointer;
	color: blue;
}
.reset__link a {
	text-decoration: none;
}
.reset__link:hover {
	color: rgb(0, 0, 204);
}

